<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Who is your Capaccio 2025 Secret Recipient?</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
  </head>

  <body>
    <h1>Get Shopping for {{.Recipient}}</h1>
    <section>
      <h2>Here are some things they've requested.</h2>
      <div class="instruct">Remember, Keep the total spent to about $50.</div>
      <ul>
        {{
          range.Items
        }}
        <li>
          <b>{{.Name}}</b> | Priority: ({{.Priority}}) | Link: {{if .Link}}-
          <a href="{{.Link}}" target="_blank">Link</a>{{ end }}
        </li>
        {{
          end
        }}
      </ul>
    </section>
  </body>
</html>
